<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<appSettings>
		<add key="WorkTimeValue" value="75"/>
		<add key="RestTimeValue" value="25"/>
		<add key="ExitHour" value="18"/>
		<add key="RestEndMessageScreen" value="1" /> <!-- 0表示在第二个显示器上弹出消息框，1 表示在第二个显示器上弹出消息框 -->
		<add key="StartTime" value="09:00"/>
		<add key="EndTime" value="18:00"/>
		<add key="CheckInterval" value="60000"/>
	</appSettings>
</configuration>
