<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<appSettings>
		<add key="WorkTimeValue" value="45"/>
		<add key="RestTimeValue" value="15"/>
		<!-- 定时启动和关闭，支持多个时间，用逗号分隔 -->
		<add key="AutoStartHours" value="9,13"/>
		<add key="AutoStopHours" value="12,18"/>
		<add key="RestEndMessageScreen" value="1" />
		<add key="WorkFormScreen" value="1" />
		<!-- RestEndMessageScreen和WorkFormScreen，0表示在第一个显示器上弹出消息框和显示倒计时，1 表示在第二个显示器上弹出消息框和显示倒计时 -->
		<add key="WorkFormOffsetX" value="160" />
		<!-- WorkFormOffsetX是从选定屏幕工作区域的右边界往左偏移 160 个像素，从而将窗口定位在屏幕右侧适当的位置。-->
		<add key="WorkFormOffsetY" value="90" />
		<!-- WorkFormOffsetY是从选定屏幕工作区域的下边界往上偏移 90 个像素，从而将窗口定位在屏幕底部适当的位置。-->
	</appSettings>
</configuration>

